<li>
	<span class="content"></span>
		<span>
			<br>Item: <%= order.item.name %> </br>
			<br>Quantity: <%= order.quantity %> </br>
			<br>Total cost: <%= order.total_cost %> </br>
		</span>
</li>