// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

 background-color: #000000
 
}
.container {

	 background-color: #87CEFA;    
}

body {

 background-color: #000000

}
/* orders */

.orders {
	
	list-style: none;
	margin: 10px 0 0 0;

	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}

	
	.customer {


	}
}